<ion-view title="Opbrengst van {{dag}}">
	<ion-content class="padding" on-swipe-left="changeDay('tomorrow')" on-swipe-right="changeDay('yesterday')">
		<div class="kaart">
			<div google-chart chart="chart"/></div>
		</div>
		<div class="list">
			<div class="item item-divider">
				<strong>Gegevens van {{updatedTime}}</strong>
		  	</div>
		  	<span class="item" ng-hide="actueelvermogen == 0 ">
				Actueel vermogen<span class="item-note"><strong>{{actueelvermogen}} W</strong></span>
		  	</span>
		  	<span class="item" >
				</i>Piekvermogen<span class="item-note"><strong>{{piekvermogenVandaag}} W</strong></span>
		  	</span>

			<span class="item" >
				Opgewekte Energie <span class="item-note"><strong>{{opbrengstVandaag}} kWh</strong></span>
			</span>
			
			<div class="item item-divider">
				Deze maand tm vandaag
			</div>	
			<span class="item" >
				Opgewekte energie <span class="item-note"><strong>{{totaleEnergie}} kWh</strong></span>
			</span>
			<span class="item">
				Bespaard <span class="item-note"><strong>&euro; {{getBespaardeEuros()}}</strong></span>
			</span>
			<!--<span class="item">
				ROI <span class="item-note">
						<strong>{{getRoi()}} %</strong>
				    </span>
			</span>->
		</div>
	</ion-content>
</ion-view>
