<ion-view title="Dashboard">
	<ion-content class="padding">
		<h4><i style="color:orange;font-size:1.3em" class="ion-ios7-sunny"></i>Opbrengst van {{dag}}</h4>
		<div class="kaart">
			<div google-chart chart="chart"/></div>
		</div>
		<div class="row" style="text-align:center">
  			<div class="col">
				<button class="button button-outline button-positive" ng-click="changeDay('yesterday', '{{datum}}')"><i class="ion-arrow-left-c"></i></button> 
			</div>
			<div class="col">
				<button class="button button-outline button-positive" ng-click="changeDay('tomorrow')"><i class="ion-arrow-right-c"></i></button>
			</div>
		</div>
		<div class="list">
			<div class="item item-divider">
				<strong>Gegevens van {{updatedTime}}</strong>
		  	</div>
		  	<span class="item" ng-hide="actueelvermogen == 0 ">
				Actueel vermogen<span class="item-note"><strong>{{actueelvermogen}} W</strong></span>
		  	</span>
		  	<span class="item" >
				</i>Piekvermogen<span class="item-note"><strong>{{piekvermogenVandaag}} W</strong></span>
		  	</span>

			<span class="item" >
				Opgewekte Energie <span class="item-note"><strong>{{opbrengstVandaag}} kWh</strong></span>
			</span>
			
			<div class="item item-divider">
				Totalen sinds 9 september 2014
			</div>	
			<span class="item" >
				Opgewekte energie <span class="item-note"><strong>{{totaleEnergie}} kWh</strong></span>
			</span>
			<span class="item">
				Bespaard <span class="item-note"><strong>&euro; {{getBespaardeEuros()}}</strong></span>
			</span>
			<span class="item">
				ROI<span class="item-note">
						 <strong>{{getRoi()}} %</strong>
				     </span>
			</span>
			
			
		</div>
	</ion-content>
</ion-view>
