<ion-view title="Overzicht">
  <ion-content class="padding">
    <h3>Totaal {{totaleEnergie}}kWh</h3>
    <h4>In {{maand}}: {{totaleEnergieDezeMaand}} kWh</h4>
    <div class="chartmonth">
		<div google-chart chart="chartmonth"/></div>
	</div>
	<div class="row" style="text-align:center">
  			<div class="col">
				<button class="button button-outline button-positive" ng-click="changeMonth('previous', '{{datum}}')"><i class="ion-arrow-left-c"></i></button> 
			</div>
			<div class="col">
				<button class="button button-outline button-positive" ng-click="changeMonth('next')"><i class="ion-arrow-right-c"></i></button>
			</div>
		</div>
	<div class="list">
		
		<div class="item item-divider">
			<strong>Deze maand</strong>
	  	</div>
	  	<span class="item" >
			Hoogste piekvermogen: <span class="item-note"><strong>{{overallPeak}} W</strong></span>
	  	</span>
	</div>

  </ion-content>
</ion-view>
